body {
    font-family: 'Gentium Book Plus', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.wedding_part .content {
    margin-top: 10%;
}